/* <<<<<<< HEAD  애기 */
@import "tailwindcss";
@import "tailwindcss/utilities";

/* Pretendard 폰트 설정 */
@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* CrimsonText 폰트 설정 */
@font-face {
  font-family: "CrimsonText";
  src: url("./assets/fonts/CrimsonText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* body(전체 UI)의 기본 폰트 : Pretendard */
body {
  font-family: "CrimsonText", "Pretendard", ui-sans-serif, system-ui, sans-serif;
}
/* =======
@tailwind base;
@tailwind components;
@tailwind utilities;
>>>>>>> develop */
